body {
    font-family: sans-serif;
    background-color: #f5f2ec;
  }
  
  button {
    background-color: #6496ab;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    font-size: 15px;
    margin-left: 20px;
  }
  
  header {
    font-size: 25px;
    text-align: center;
    background-color: #e5cb93;
    padding-left: 25px;
    color: #2a324e;
  }
  
  footer {
    font-size: 15px;
    text-align: center;
    /* background-color: #e5cb93; */
    padding-left: 25px;
    color: #2a324e;
    margin-top: 50px;
    bottom: 0%;
  }
  
  .floor {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #2a324e;
  }
  
  #oneFloor,
  #twoFloor,
  #threeFloor,
  #fourFloor {
    padding-left: 30px;
  }
  